@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Reset / Overrides if needed, otherwise let Tailwind handle it */
body {
  background-color: #ffffff;
  color: #0A1929;
  /* midnight-navy */
}